@{ 
    ViewBag.Title = "Authority";
}

@section scripts {
    <script>

    </script>
}

<div>
    @Html.Navgation("Admin", "Authority")
</div>

<div class="row">
    <div class="col-md-3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-dark bold">用户权限管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-stacked">
                    <li>
                        <i class="icon-user"></i>
                        <a href="javascript:void(0);">User</a>
                    </li>
                    <li>
                        <i class="icon-users"></i>
                        <a href="javascript:void(0);">Role</a>
                    </li>
                    <li>
                        <i class="icon-lock"></i>
                        <a href="javascript:void(0);">Permission</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-dark bold">用户权限管理</span>
                </div>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>