<div class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">
        &copy; 1983 - @DateTime.UtcNow.Year Advantech Co., Ltd. All Rights Reserved
    </p>
    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">
        <span><a href="http://www.advantech.com.tw/sitemap.asp">Site Map</a></span>
        <span> | </span>
        <span><a href="http://www.advantech.com.tw/privacy.asp">Privacy Policy</a></span>
    </p>
</div>

<!-- Monitor -->
@StackExchange.Profiling.MiniProfiler.RenderIncludes()
