@{
    ViewBag.Title = "Admin Warehouse";
}

<div>
    @Html.Navgation("Admin", "Warehouse")
</div>

@section scripts {
    <script>
        ReactDOM.render(
           React.createElement(WarehouseCollection),
           document.getElementById('warehousecollection')
        );

        ReactDOM.render(
          React.createElement(ZoneCollection),
          document.getElementById('zonecollection')
        );

        ReactDOM.render(
            React.createElement(ShelfCollection),
            document.getElementById('shelfcollection')
        );

        ReactDOM.render(
           React.createElement(ShelfDetail),
           document.getElementById('shelfdetail')
        );
    </script>
}

<div id="warehousecollection"></div>

<div style="margin-top:20px;">
    <div class="row">
        <div id="zonecollection" class="col-md-2"></div>
        <div class="col-md-10">
            <div id="shelfcollection"></div>
            <div id="shelfdetail"></div>
        </div>
    </div>
</div>

