@{
    ViewBag.Title = "Admin Warehouse";
}

<div>
    @Html.Navgation2("Admin", "Warehouse")
</div>

@section scripts {
    <script src="~/wwwroot/js/utils/Guid.js"></script>
    <script src="~/wwwroot/js/utils/EventEmitter.js"></script>
    <script src="~/wwwroot/js/src/warehouse.jsx"></script>

    <script>
        ReactDOM.render(
           React.createElement(WarehouseCollection),
           document.getElementById('warehousecollection')
        );

        ReactDOM.render(
          React.createElement(ZoneCollection),
          document.getElementById('zonecollection')
        );

        ReactDOM.render(
            React.createElement(ShelfCollection),
            document.getElementById('shelfcollection')
        );

        ReactDOM.render(
           React.createElement(ShelfDetail),
           document.getElementById('shelfdetail')
        );

        var IwTree = function () {

            var $element = $("#iwtree");

            var renderTree = function () {
                $element.on('changed.jstree', function (e, data) {
                    if (data.selected.length)
                    {
                        var id = data.selected[0];
                        console.log(data);
                        console.log(id);
                        console.log(data.node.li_attr["content"]);
                    }
                }).jstree({
                    "core": {
                        "themes": {
                            "responsive": false
                        },
                        "data": [
                            {
                                "id": 1, "parent": "#", "text": "Node 1", "state": { "opened": true }, "li_attr": { "content": "wh" }
                            },
                            { "id": 2, "parent":"#", "text": "Node 2" },
                            { "id": 3, "parent":"#", "text": "Node 3" },
                            { "id": 11, "parent": 1, "text": "Node 11" },
                            { "id": 12, "parent": 1, "text": "Node 12" }
                        ]
                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-warning icon-lg"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-warning icon-lg"
                        }
                    },
                    "plugins": ["state", "types"]
                });
            }

            return {
                init: function () {
                    renderTree();
                }
            }
        }();

        $(function () {
            IwTree.init();
        });

    </script>
}

<div id="warehousecollection"></div>

<div style="margin-top:20px;">
    <div class="row">
        <div id="zonecollection" class="col-md-2"></div>
        <div class="col-md-10">
            <div id="shelfcollection"></div>
            <div id="shelfdetail"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-purple-plum">
                    <i class="fa fa-cogs font-purple-plum"></i>
                    <span class="caption-subject bold">WareHouse</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default tooltips" data-original-title="Add an new warehouse">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="iwtree"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-purple-plum">
                    <i class="icon-speech font-purple-plum"></i>
                    <span class="caption-subject bold">Detail</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default tooltips" data-original-title="Add an new child node">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>

