@{
    ViewBag.Title = "Receiving";
}

@section scripts {
    <script>
        // SN 页面初始化自动聚焦
        $(function () {
            Receiving.init();
        });

        $(document).keyup(function (evnet) {
            if (evnet.keyCode == 13) {
                Receiving.getInboundInfo();
            }
        });

        $("#submit").click(function () {
            if (!Receiving.checkInboundDate())
                return false;

            Receiving.receive();
            Receiving.clearInfo();
            Receiving.focus();
        });

        var Receiving = {
            inputElement: "#QRCode",
            inputDateElement: "#inboundDate",
            detailNodeId: "#detailInfo",
            init: function() {
                $(this.inputElement).focus();
                $(this.detailNodeId).hide();
            },
            getInboundInfo: function () {
                var qrcode = $(this.inputElement).val();
                var url = '@Url.Action("GetInboundInfo", "Receiving", new { area = "Inbound" })';
                $.getJSON(url, { qrcode }, function (data) {
                    if (!data.status) {
                        noty({ text: data.message, type: "error" });
                        return false;
                    }

                    Receiving.showInfo(data);
                });
            },
            receive: function () {
                var qrcode = $(this.inputElement).val();
                var inboundDate = $(this.inputDateElement).val();
                var url = '@Url.Action("Receive", "Receiving", new { area = "Inbound" })';
                $.post(url, { qrcode, inboundDate }, function (data) {
                    if (!data.status) {
                        noty({ text: data.message, type: "error" });
                        return false;
                    }

                    noty({ text: "Receive material successfully, SAP Certificate: " + data.message, type: "success" });
                    Receiving.clearInfo();
                });
            },
            showInfo: function (data) {
                $(this.detailNodeId).show();

                ReactDOM.render(
                    React.createElement(Inbound, data),
                    document.getElementById('inbound')
                );
            },
            clearInfo: function () {
                $(this.inputElement).val("");
                $(this.inputDateElement).val("");

                $(this.detailNodeId).hide();
            },
            checkInboundDate: function () {
                if ($.trim($(this.inputDateElement).val()) == "") {
                    noty({ text: "Plese input the inbound date.", type: "error" });
                    return false;
                }
                return true;
            },
            focus: function () {
                $(this.inputElement).val("");
                $(this.inputElement).focus();
            }
        };
    </script>
}

@Html.Navgation("Inbound", "Intelligent Receiving")

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">QR Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="QRCode" placeholder="QR Code ...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Inbound Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inboundDate" data-format="date" readonly="readonly" placeholder="Posted Date ...">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" id="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </div>
</div>

<div id="detailInfo" class="panel panel-default">
    <div class="panel-body">
        <div id="inbound"></div>
    </div>
</div>