@{ 
    ViewBag.Title = "Home";
}

@section scripts {
    <script>
        $(function () {
            $.hub.send(function () {
                $('#doSignalR').click(function () {
                    console.log("doSignalR");
                    $.post("@Url.Action("SignalRTest", "Home")", { message: $("#singalr").val() }, function (data) {
                        console.log(data);
                    });
                });
            }).done(function (data) {
                console.log(data);
            });
        });
    </script>

}

@*<div>
    <input type="text" id="singalr" />
    <button type="button" id="doSignalR">SignalR</button>
</div>*@