<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="appTest" connectionString="Data Source=A-100012118\MSSQLSERVER2014;Initial Catalog=AppTest;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>