<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="dotPlatform">
      <section name="dotPlatformCache" type="DotPlatform.Configuration.Fluent.Config.CacheSectionConfiguration, DotPlatform"/>
      <!--<section name="dotPlatformEmail" type="DotPlatform.Configuration.Fluent.Config.EmailSectionConfiguration, DotPlatform"/>-->
    </sectionGroup>
  </configSections>
  <dotPlatform>
    <dotPlatformCache>
      <caches>
        <add name="Cache_Test_1" absoluteExpiration="40" slidingExpiration="45" />
        <add name="Cache_Test_2" absoluteExpiration="50" slidingExpiration="55" />
      </caches>
    </dotPlatformCache>
    <dotPlatformEmail>
      <email host="172.20.1.12" sender="yanggangc@163.com" displayName="yanggangc" />
    </dotPlatformEmail>
  </dotPlatform>
</configuration>