@model WMS.Web.Models.LoginViewModel

@{ 
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WMS</title>
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="wms, advantech">
    <meta name="author" content="advantech web team">

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/font-google/css/font-google.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/wwwroot/lib/metronic/theme/assets/global/css/components.css" rel="stylesheet" id="style_components" />
    <link href="~/wwwroot/lib/metronic/theme/assets/global/css/plugins.css" rel="stylesheet" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/wwwroot/lib/metronic/theme/assets/pages/css/login-3.min.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="../assets/pages/img/logo-big.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="@Url.Action("Login", "Account", new { ViewBag.ReturnUrl })" method="post">
            @Html.AntiForgeryToken()
            
            <h3 class="form-title">Login to your account</h3>
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" />Remember me
                </label>
                <button type="submit" class="btn green pull-right">Login</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
 
    <!--[if lt IE 9]>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/respond.min.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery-1.12.4.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery.cookie.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery.blockui.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/uniform/jquery.uniform.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/wwwroot/lib/metronic/theme/assets/global/scripts/app.js"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/wwwroot/lib/metronic/theme/assets/pages/scripts/login.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>